<div class="container">
<form [formGroup]="editVehicleForm" *ngIf="editVehicleForm" (ngSubmit)="editVehicleForm.valid && updateVehicle()" autocomplete="off">
        <h2 class="text-center text-white">EDIT VEHICLE</h2>
        <hr>
        
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" value='car' formControlName='type'> car
            </label>
            <label class="radio-inline">
                <input type="radio" value='bike' formControlName='type' class="ml-3"> bike
            </label>
            <label class="radio-inline">
                <input type="radio" value='tractor' formControlName='type' class="ml-3"> tractor
            </label>
            <label class="radio-inline">
                <input type="radio" value='excavator' formControlName='type' class="ml-3"> excavator
            </label>
        </div>
    
        <app-text-input 
            [formControl]='editVehicleForm.controls["manufacturer"]' 
            [label]='"Manufacturer"'>
        </app-text-input>
        
        <app-text-input 
            [formControl]='editVehicleForm.controls["model"]' 
            [label]='"Model"'>
        </app-text-input>
        
        <app-text-input 
            [formControl]='editVehicleForm.controls["yearOfProduction"]' 
            [label]='"Year of production"'>
        </app-text-input>
    
        <app-text-input [hidden]='editVehicleForm.value.type === "tractor" || editVehicleForm.value.type === "excavator" || editVehicleForm.value.type === "bike"'
            [formControl]='editVehicleForm.controls["vinNumber"]' 
            [label]='"VIN"'>
        </app-text-input>
    
        <app-text-input 
            [formControl]='editVehicleForm.controls["purchasePrize"]' 
            [label]='"Purchase price"'
            [type]='"number"'>
        </app-text-input>
    
        <app-text-input 
            [formControl]='editVehicleForm.controls["description"]' 
            [label]='"Description"'>
        </app-text-input>
    
        <!-- <div class="row" *ngIf="validationErrors.length > 0">
            <ul>
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div> -->
        <div class="alert alert-info" *ngIf="editVehicleForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changes will be lost!
        </div>
        <div class="form-group text-center">
            <button [disabled]='!editVehicleForm.valid || !editVehicleForm.dirty'
                class="btn btn success mr-2" 
                type="submit">Save
            </button>
        </div>
        <div>
            <button class="btn-danger"  (click)="deleteVehicle(vehicleDetails.id)">Delete vehicle</button>
        </div>
    </form>
</div>