html,
body,
header{
    height: 100%;
}
body {
    background: url("C:\Users\grzeg\CarMaintenanceApp\client\src\assets\background.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}