html,
body,
header{
    height: 100%;
}
body {
    background: url("C:\Users\grzeg\CarMaintenanceApp\client\src\assets\background.webp") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn-orange-border {
    width: 100px;
    border: 2px solid;
    border-color: #cf5424;
    background-color: #cf542434;
    border-radius: 20px;
    color:white;
    font-size: 16px;
    cursor: pointer;
  }
  .btn-orange-border:hover {
    background-color: #cf542475;
  }