<form [formGroup]="addVehicleForm" (ngSubmit)="addVehicleForm.valid && addvehicle()" autocomplete="off">
    <h2 class="text-center text-primary">ADD VEHICLE</h2>
    <hr>
    
    <div class="form-group">
        <label class="control-label" style="margin-right: 20px">Type of vehicle</label>
        <label class="radio-inline">
            <input type="radio" value='car' formControlName='type'> car
        </label>
        <label class="radio-inline">
            <input type="radio" value='bike' formControlName='type' class="ml-3"> bike
        </label>
        <label class="radio-inline">
            <input type="radio" value='tractor' formControlName='type' class="ml-3"> tractor
        </label>
        <label class="radio-inline">
            <input type="radio" value='excavator' formControlName='type' class="ml-3"> excavator
        </label>
    </div>

    <app-text-input  
        [formControl]='addVehicleForm.controls["manufacturer"]' 
        [label]='"Manufacturer"'>
    </app-text-input>
    
    <app-text-input 
        [formControl]='addVehicleForm.controls["model"]' 
        [label]='"Model"'>
    </app-text-input>
    
    <app-text-input 
        [formControl]='addVehicleForm.controls["yearOfProduction"]' 
        [label]='"Year of production"'>
    </app-text-input>

    <app-text-input 
        [hidden]='addVehicleForm.value.type === "tractor" || addVehicleForm.value.type === "excavator" || addVehicleForm.value.type === "bike"'
        [formControl]='addVehicleForm.controls["vinNumber"]' 
        [label]='"VIN"'>
    </app-text-input>

    <app-text-input 
        [formControl]='addVehicleForm.controls["purchasePrize"]' 
        [label]='"Purchase price"'
        [type]='"number"'>
    </app-text-input>

    <app-text-input 
        [formControl]='addVehicleForm.controls["description"]' 
        [label]='"Description"'>
    </app-text-input>

    <div class="form-group text-center">
        <button [disabled]='!addVehicleForm.valid'
            class="btn btn-success mr-2" 
            type="submit">Add
        </button>
    </div>
    
</form>